.directionButton {
  position: fixed;
  height: 30px;
  width: 30px;
  top: 50%;
  background-color: white;
  border-radius: 15px;
}
.leftButton {
  left: 10px;
}
.rightButton {
  right: 10px;
}
@media (max-width: 600px) {
  .directionButton {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    font-size: 0.7rem;
  }
}
