.thumbnailImg {
  height: 100px;
  min-width: 100px;
  /* width: auto; */
  margin-left: 2px;
  margin-right: 2px;
  border: 1px, solid, red;
}

#thumbnailBar {
  position: fixed;
  max-width: 500px;
  top: 0;
  margin-left: calc((100vw - 500px) / 2);
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  flex-direction: row;
  border: 4px, solid, white;
  border-left: none;
  border-right: none;
  background-color: black;
}
